* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Anton", sans-serif;

    --background__dark-gradient: linear-gradient(
        45deg, #000000, #221133
    );

    --background__light-gradient: linear-gradient(
        45deg, #c89ef1, #8a2fe6
    );

    --dark-text-gradient: linear-gradient(
        to top,
        #9572fc,
        #43e7ad,
        #e2d448
    );

    --light-text-gradient: linear-gradient(
        to bottom,
        #360068,
        #6508b1,
        #da11c9
    );
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    font-size: 50px;
    color: #ffffff;

}

.dark-gradient {    
    background: var(--background__dark-gradient); 
    -webkit-background: var(--background__dark-gradient);
    background-size: 500% 500%;
    -webkit-background-size: 500% 500%;
    
    animation: gradient-effect 8s ease infinite;
}

.light-gradient {
    background: var(--background__light-gradient); 
    -webkit-background: var(--background__light-gradient);
    background-size: 500% 500%;
    -webkit-background-size: 500% 500%;

    animation: gradient-effect 8s ease infinite;
}

.container .dark-text {
    background-image: var(--dark-text-gradient);
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
}

.container .light-text {
    background-image: var(--light-text-gradient);
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
}

