* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Anton", sans-serif;

    --background__dark-gradient: linear-gradient(
        45deg, #000000, #221133
    );

    --background__light-gradient: linear-gradient(
        45deg, #c89ef1, #8a2fe6
    );
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    font-size: 50px;
    color: #ffffff;

}

.dark-gradient {    
    background: var(--background__dark-gradient); 
    -webkit-background: var(--background__dark-gradient);
    background-size: 500% 500%;
    -webkit-background-size: 500% 500%;
    
    animation: gradient-effect 8s ease infinite;
}

.light-gradient {
    background: var(--background__light-gradient); 
    -webkit-background: var(--background__light-gradient);
    background-size: 500% 500%;
    -webkit-background-size: 500% 500%;

    animation: gradient-effect 8s ease infinite;
}

.container p {
    display: none;
}

